apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
  namespace: microservices
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      containers:
      - name: product-service
        image: azouztarek/product-service:v11
        ports:
        - containerPort: 4002
        env:
        - name: PG_HOST
          valueFrom:
            configMapKeyRef:
              name: postgres-config
              key: PG_HOST
        - name: PG_PORT
          valueFrom:
            configMapKeyRef:
              name: postgres-config
              key: PG_PORT
        - name: PG_USER
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: POSTGRES_USER
        - name: PG_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: POSTGRES_PASSWORD
        - name: PG_DB_NAME
          valueFrom:
            configMapKeyRef:
              name: postgres-config
              key: PG_DB_NAME
        - name: PG_SSLMODE
          valueFrom:
            configMapKeyRef:
              name: postgres-config
              key: PG_SSLMODE
