apiVersion: apps/v1
kind: Deployment
metadata:
  name: front-service
  namespace: microservices
spec:
  replicas: 1
  selector:
    matchLabels:
      app: front-service
  template:
    metadata:
      labels:
        app: front-service
    spec:
      containers:
        - name: front-service
          image: azouztarek/front:V_4
          ports:
            - containerPort: 80

          
 
