apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: microservices
data:
  MONGO_DB_NAME: "T_O"
  MONGO_HOST: "mongo-0.db-headless.microservices.svc.cluster.local"
  MONGO_PORT: "27017"
  MONGO_REPLICA_SET: "rs0"
